<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
 
    </style>
  </head>

  <body>
   <h1>Here is the list of Users<h1/>
    <ul>
    <% @users.each do |user| %>
      
      <li style="cursor: pointer;" >
      <a href='users/<%= user.id %>'>
      <%= user.name %>
      <img  src="<%= user.photo %>" alt="Avatar" />
      </a>
      <p>Posts: <%= user.postscounter || 0 %></p>
      <p><%= user.photo %></p>
      <% end %>
      </li>
    
    </ul>
  </body>
</html>