<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
 
    </style>
  </head>

  <body>
   <h1>Here is the list of Users<h1/>
    <section>
        <div>
        <img  src="<%= @user.photo %>" alt="Avatar" />
         <h2><%= @user.name %></h2>
          <h3><%= @user.bio %></h3>
         <h6>
         <p>Number of post(s): <%= @user.postscounter || 0 %></p>
         </h6>
        </div>
        <div>
          <h3>Recent Posts</h3>
          <div>
            <% @user.query_posts.each do |post| %>
              <a href='/posts/<%= post.id %>'>
              <%= post.title %>
              <%= post.text %>
              </a>
              <p>Comments:
              <%= post.commentscounter || 0 %>
                </p>
                <p>likes: <%= post.likescounter || 0 %>
                </p>
                <% end %>
          </div>
        </div>
    </section>

        <a href='/users/<%= @user.id%>/posts'>See all posts</a>

    <button>
    <a href='/users/<%= @user.id%>/posts/new'>Create a new post</a>
    </button>
  </body>
</html>