<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
    </style>
  </head>

  <body>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
   <h1> Post Info <h1/>
   <p><%= @post.text %></p>
   <p><%= @post.title %></p>
    <p>Comments: <%= @post.commentscounter || 0 %> <br>
    <% @post.query_comments.each do |comment| %>
    <%= comment.text %>
    </p>
    </p>
    <% end %>
    <p>likes: <%= @post.likescounter || 0 %>
    <%= render "likes/like" %>
    <%= render "comments/comment" %>
  </body>
</html>